//
//  pxl_default.xcconfig
//  pxl
//
//  Created by Robert Fischer on 20.11.09.
//


#include "pxl_version"

PYTHON_VERSION = 2.5

HEADER_SEARCH_PATHS = "/System/Library/Frameworks/Python.framework/Versions/$(PYTHON_VERSION)/include/python$(PYTHON_VERSION)" "$(SRCROOT)/../pxl/include" "$(SRCROOT)/../hep/include" "$(SRCROOT)/../modules/include" "$(SRCROOT)/../plugins/include" "$(SRCROOT)/../algorithms/include" "$(SRCROOT)/../scripting/include" "$(SRCROOT)/../astro/include"